/* Default portfolio page */

.portfolio-heading{
  padding: 20px 0;
  &__title{
    color: $portfolio-heading-color;
    font-family: open-sans, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &_wrapper{
    background: $portfolio-heading-wrapper-color-bg;
  }
}

.posts-portfolio_wrapper{
  padding-top: 40px;
}

.post-portfolio{
  &_general{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  &__image{
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid $portfolio-post-image-border-color;
    box-shadow: 3px 3px 6px $portfolio-post-image-box-shadow-color;
  }
  &__heading{
    margin: 0;
    &_link{
      font-family: open-sans, sans-serif;
      font-size: 20px;
      font-weight: bold;
      &,
      &:hover{
        color: $portfolio-post-heading-link-color;
      }
    }
  }
  &__links{
    margin: 60px 0 0;
  }
  &__site-url,
  &__readmore{
    display: inline-block;
  }
  &__site-url{
    color: #7f8c8c;
    font-family: open-sans, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  &__readmore{
    float: right;
    &_link{
      font-family: open-sans, sans-serif;
      font-size: 14px;
      color: $main-link-color;
      text-transform: uppercase;
      padding: 15px 50px;
      background: $portfolio-readmore-link-color-bg;
      border-radius: 5px;
      border-bottom: 2px solid $portfolio-readmore-link-color-border-bottom;
      transition: background 0.5s,border-bottom 0.5s;
      &:hover{
        background: $portfolio-readmore-link-color-hover-bg;
        border-bottom: 2px solid $portfolio-readmore-link-color-hover-border-bttom;
        text-decoration: none;
        color: $main-link-color;
        transition: background 0.5s,border-bottom 0.5s;
      }
    }
  }
}

.portfolio-navigation{
  & .screen-reader-text{
    display: none;
  }
  & .page-numbers{
    display: inline-block;
    color: $main-link-color;
    font-family: open-sans, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background: $portfolio-navigation-number-color-bg;
    padding: 10px 15px;
    margin: 0 5px;
    border-bottom: 1px solid $portfolio-navigation-number-border-color;
    transition: all 0.5s;
    &:hover{
      text-decoration: none;
      background: $portfolio-navigation-number-hover-color-bg;
      border-bottom: 1px solid $portfolio-navigation-number-hover-border-color;
      transition: all 0.5s;
    }
    &.current{
      background: $portfolio-navigation-number-current-color-bg;
      border-bottom: 1px solid $portfolio-navigation-number-current-border-color;
    }
  }
  & .next,
  & .prev{
    font-family: awesome;
    font-weight: normal;
  }
}