// ==== КОНФИГУРАЦИЯ ==== //

// Устанавливайте все конфигурационные переменные здесь!

// Метаданные, используйте metadata() для доступа к значениям
$_metadata: (
  theme-name:               "Smart", 
  theme-uri:                "http://smartfreelancer.ru/", 
  theme-author:             "Smartfreelancer", 
  theme-author-uri:         "http://smartfreelancer.ru/", 
  theme-description:        "Theme for Smartfreelancer site", 
  theme-version:            "1.0.0", 
  theme-license:            "GPLv3", 
  theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
);
