// ==== БИБЛИОТЕКА ==== //

$main-color: #76c7c0;
$main-link-color: #fff;
// Topmenu
$current-item-topmenu-bg: #62a29e;
$current-item-topmenu-box-shadow-color: #528b86;
// Services
$services-buttons-hover-bg: #e8645a;
$services-icons-color: #62bdbd;
$services-icons-hover-color: #e2534b;
$services-post-bg: #f8f8f8;
$services-post-bg-hover: #ffffff;
$services-post-title-color: #7f8c8c;
$services-post-content-color: #777;
$services-post-link-color: #fff;
$services-box-shadow-color: #e5e6e6;
$services-box-shadow-link-color: #62b9b0;
$services-box-shadow-link-hover-color: #e2534b;

//Bootstrap rewrite variables

// Nav

$nav-link-hover-bg: #e5655d;

// End Bootstrap rewrite variables

// Font-face mixin

@mixin font-face($family, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("fonts/#{$family}/#{$file-name}.eot");
    src: url("fonts/#{$family}/#{$file-name}.eot?#iefix") format("embedded-opentype"),
    url("fonts/#{$family}/#{$file-name}.woff") format("woff"),
    url("fonts/#{$family}/#{$file-name}.ttf") format("truetype"),
    url("fonts/#{$family}/#{$file-name}.svg##{$family}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}
