// ==== БИБЛИОТЕКА ==== //

$main-color: #76c7c0;
$main-link-color: #fff;
// Topmenu
$current-item-topmenu-bg: #62a29e;
$current-item-topmenu-box-shadow-color: #528b86;
// Services
$services-buttons-hover-bg: #e8645a;
$services-icons-color: #62bdbd;
$services-icons-hover-color: #e2534b;
$services-post-bg: #f8f8f8;
$services-post-bg-hover: #ffffff;
$services-post-title-color: #7f8c8c;
$services-post-content-color: #777;
$services-post-link-color: #fff;
$services-box-shadow-color: #e5e6e6;
$services-box-shadow-link-color: #62b9b0;
$services-box-shadow-link-hover-color: #e2534b;

// Why me
$whyme-background-color: #ececec;
$whyme-heading-color: #e0524b;
$whyme-description-color: #777;

// Advantages
$advantages-text-color: #777;
$advantages-headings-color: #7f8c8c;
$advantages-mention-color-bg: #f8f8f8;

// Footer
$footer-main-text-color: #fff;
$footer-headings-color: #000;
$footer-date-color: #000;
$footer-blog-images-border-and-shadow-color: #5e9f9a;
$footer-bottom-color-bg: #6ab3ac;

//Page
$page-heading-color-bg: #ececec;
$page-heading-color: #7f8c8c;
$page-content-color-bg: #f3f3f3;
$page-text-color: #7f8c8c;

// Default category page
$category-heading-color: #7f8c8c;
$category-heading-wrapper-color-bg: #ececec;

$category-date-color-bg: #f8f8f8;
$category-date-border-color: #e5e6e6;
$category-date-box-shadow-color: #7f8c8c;
$category-date-text-color: #7f8c8c;

$category-post-image-border-color: #e5e6e6;
$category-post-image-box-shadow-color: #7f8c8c;
$category-post-heading-link-color: #75c7bf;
$category-readmore-link-color: #e1534b;
$category-navigation-number-color-bg: #8c9898;
$category-navigation-number-border-color: #7f8c8c;
$category-navigation-number-hover-color-bg: #e5655d;
$category-navigation-number-hover-border-color: #e2534b;
$category-navigation-number-current-color-bg: #649792;
$category-navigation-number-current-border-color: #528b86;

// Blog category page
$blog-heading-color: #7f8c8c;
$blog-heading-wrapper-color-bg: #ececec;

$blog-date-color-bg: #f8f8f8;
$blog-date-border-color: #e5e6e6;
$blog-date-box-shadow-color: #7f8c8c;
$blog-date-text-color: #7f8c8c;

$blog-post-image-border-color: #e5e6e6;
$blog-post-image-box-shadow-color: #7f8c8c;
$blog-post-heading-link-color: #75c7bf;
$blog-readmore-link-color: #e1534b;
$blog-navigation-number-color-bg: #8c9898;
$blog-navigation-number-border-color: #7f8c8c;
$blog-navigation-number-hover-color-bg: #e5655d;
$blog-navigation-number-hover-border-color: #e2534b;
$blog-navigation-number-current-color-bg: #649792;
$blog-navigation-number-current-border-color: #528b86;

// Services category page
$services-heading-color: #7f8c8c;
$services-heading-wrapper-color-bg: #ececec;

$services-date-color-bg: #f8f8f8;
$services-date-border-color: #e5e6e6;
$services-date-box-shadow-color: #7f8c8c;
$services-date-text-color: #7f8c8c;

$services-post-image-border-color: #e5e6e6;
$services-post-image-box-shadow-color: #7f8c8c;
$services-post-heading-link-color: #75c7bf;
$services-readmore-link-color: #e1534b;
$services-navigation-number-color-bg: #8c9898;
$services-navigation-number-border-color: #7f8c8c;
$services-navigation-number-hover-color-bg: #e5655d;
$services-navigation-number-hover-border-color: #e2534b;
$services-navigation-number-current-color-bg: #649792;
$services-navigation-number-current-border-color: #528b86;

// Portfolio category page
$portfolio-heading-color: #7f8c8c;
$portfolio-heading-wrapper-color-bg: #ececec;

$portfolio-post-image-border-color: #e5e6e6;
$portfolio-post-image-box-shadow-color: #7f8c8c;
$portfolio-post-heading-link-color: #7f8c8c;
$portfolio-readmore-link-color-bg: #76caca;
$portfolio-readmore-link-color-border-bottom: #62bdbd;
$portfolio-readmore-link-color-hover-bg: #e8645a;
$portfolio-readmore-link-color-hover-border-bttom: #e2534b;
$portfolio-navigation-number-color-bg: #8c9898;
$portfolio-navigation-number-border-color: #7f8c8c;
$portfolio-navigation-number-hover-color-bg: #e5655d;
$portfolio-navigation-number-hover-border-color: #e2534b;
$portfolio-navigation-number-current-color-bg: #649792;
$portfolio-navigation-number-current-border-color: #528b86;

// Single post default
$single-default-category-heading-color: #7f8c8c;
$single-default-category-heading-wrapper-color-bg: #ececec;
$single-default-heading-color: #75c7bf;
$single-default-date-color: #7f8c8c;
$single-default-author-color: #e1534b;

// Single post blog
$single-blog-category-heading-color: #7f8c8c;
$single-blog-category-heading-wrapper-color-bg: #ececec;
$single-blog-heading-color: #75c7bf;
$single-blog-date-color: #7f8c8c;
$single-blog-author-color: #e1534b;

// Single post services
$single-services-category-heading-color: #7f8c8c;
$single-services-category-heading-wrapper-color-bg: #ececec;
$single-services-heading-color: #75c7bf;
$single-services-date-color: #7f8c8c;
$single-services-author-color: #e1534b;

// Single post portfolio
$single-portfolio-category-heading-color: #7f8c8c;
$single-portfolio-category-heading-wrapper-color-bg: #ececec;
$single-portfolio-heading-color: #75c7bf;
$single-portfolio-date-color: #7f8c8c;
$single-portfolio-author-color: #e1534b;

// Social block
$social-block-color-bg: #ebebeb;

// Comments
$comments-form-color-bg: #e5e5e5;
$comments-form-color-box-shadow: rgba(0, 0, 0, 0.05);
$comments-form-inputs-color-bg: #e5e5e5;
$comments-form-inputs-color-box-shadow: rgba(0, 0, 0, 0.05);
$comments-form-submit-color-bg: #e8645a;
$comments-form-submit-color: #fff;
$comments-form-submit-color-box-shadow: #e2534b;
$comments-list-author-color: #7f8b8b;
$comments-list-commentmetadata-color: #7f8b8b;
$comments-list-reply-color: #e1534b;
$comments-list-comment-paragraph-color: #7f8c8c;
$comments-list-comment-paragraph-color-bg: #f8f8f8;
$comments-list-comment-paragraph-color-border: #e5e6e6;

//Bootstrap rewrite variables

// Nav

$nav-link-hover-bg: #e5655d;

// End Bootstrap rewrite variables

// Font-face mixin

@mixin font-face($family, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("fonts/#{$family}/#{$file-name}.eot");
    src: url("fonts/#{$family}/#{$file-name}.eot?#iefix") format("embedded-opentype"),
    url("fonts/#{$family}/#{$file-name}.woff") format("woff"),
    url("fonts/#{$family}/#{$file-name}.ttf") format("truetype"),
    url("fonts/#{$family}/#{$file-name}.svg##{$family}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}
